* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header .headline {
  color: white;
  font-size: large;
}

.header {
  background-color: black;
  padding: 15px;
}

.header,
.question_card {
  text-align: center;
}

.frage {
  padding: 30px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

ul,
li {
  list-style: none;
}

.footer {
  color: white;
  background-color: black;
  padding: 15px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  text-align: center;
}

.tags li {
  border: 1px solid #777777;
  color: #eeeeee;
  background-color: darkgray;
  width: max-content;
  padding: 3px;
  border-radius: 3px;
}

.tags {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.question_card {
  border: 1px solid black;
}
